
:root {
    --bg-color: var(--base);
    --button-color: var(--teal-light);
    --border-color: var(--stroke--black-10);

    --small-links: var(--text3);
    --paragraph: var(--text2);
    --text1: #222;
    --text2: #333;
    --text3: #999;

    --base: #fdfdfd;
    --stroke--black-5: rgba(0, 0, 0, .05);
    --stroke--black-10: rgba(0, 0, 0, .1);
    --stroke--white-5: rgba(255, 255, 255, .05);
    --stroke--white-10: rgba(255, 255, 255, .1);
    --stroke--white-50: rgba(255, 255, 255, .5);
    --stroke-teal-50: rgba(119, 238, 202, .5);
    --teal-light: rgba(0,255,178,.79);
    --light-teal: #008680;
}

body {
    background-color: var(--bg-color);
    color: var(--text1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 14px;
    display:block;
    margin:0 auto;
    box-sizing:border-box;
}

a {
    color:initial;
    text-decoration: unset;
}

nav {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 1vw 3vw;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 2;
}
.navitems {
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    flex-flow: row;
    align-items: center;
    gap: 2vw;
    margin-bottom: 10px;
}

.profpic {
    background-color: var(--bg-color);
    border-radius: 20px;
    height: 24px;
    overflow: hidden;
    border: solid 1px var(--border-color);
    padding:4px 12px 4px 4px;
    color: var(--text2);
    display: flex;
    flex-flow: row;
    align-items: center;
    gap:4px;
    z-index: 4;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .4);
    img {
        aspect-ratio: 1;
        height:100%;
        border-radius: 20px;
    }
}

button {
    font-size: inherit;
    cursor: pointer;
    border: 1px solid var(--border-color);
    background-color: var(--button-color);
    color: var(--text2);
    border-radius: 20px;
    padding: 4px 20px;
    line-height: 26px;
    transition: transform .4s;
    display: flex;
    flex: 0 auto;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .4);
}
.container {
    padding: 0 3.5vw;
    margin: 60px 0;
}
.gallerynav {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: auto;
    display: flex;
    position: static;
}
h1,h2,.cv {
    text-align: left;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.04em;
    margin:0;
}
h1 {
    font-size: 6vw;
    margin: 2vw 0;
}
h2 {
    font-size:3.5vw;
}
.smalltext {
    font-size:small;
    color: var(--text3);
}
.collection {
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1vw 0 1vw 0;
    display: flex;
    min-width:300px;
}
.group {
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;
    display: flex;
    flex: 1 1 45vw;
    max-width: 45vw;
    max-height: 45vw;
    z-index: 0;
}
.vertical {
    flex-direction: column;
}
.career {
    flex-direction: column;
    max-height: 68vw;
    height: 68vw;
    max-width:91vw;
    width:91vw;
    flex: 1 1 91vw;
}
.size3x3 {
    max-width: 68vw;
    max-height: 68vw;
    width: 68vw;
    height: 68vw;
    flex: 1 1 68vw;
}
.items {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    transition: transform .4s;
    border-radius: 2vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 22vw;
    z-index: 0;
    &:hover {
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .4);
        transform: scale(1.04);
        .content span {
            visibility:visible;
            opacity:1;
        }
    }
}
.square {
    max-width: 22vw;
    width: 22vw;
    flex: 1 1 22vw;
}
.big {
    max-width:45vw;
    height:45v;
    flex: 1 1 45vw;
}
.long {
    max-width:45vw;
    flex: 1 1 45vw;
}

.tall {
    width: 22vw;
    max-width:22vw;
    max-height:45vw;
    flex: 1 1 45vw;
}
.red {
    color:red;
}
.black {
    color:black !important;
}
.content {
    width: 100%;
    display: flex;
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 2.5vw;
    border-radius: 2vw;
    flex-wrap: wrap;
    p {
        margin:0;
    }
    &.linkedin{
        font-weight: 600;
        font-size:3.2vw;
        display: block;
        span {
            font-size: 1.5vw;
        }
    }
    &.cv {
        flex-direction: row;
        justify-content: space-between;
        font-size: 3.5vw;
        font-weight: 600; 
        color:transparent;
        background: linear-gradient(#eee, #CCC);
        -webkit-background-clip: text;
                background-clip: text;
        text-align: justify;

    }
    &.head {
        padding:10%;
    }
    img {
        max-height:70%;
        max-width:70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
    video {
        width:100%;
    }
    span.name,span.type {
        z-index: 1;
        visibility:hidden;
        opacity:0;
        transition: visibility .2s, opacity .3s linear;
        bottom:0;
        position: absolute;
        padding: 1vw 1.5vw;
        &.name {
            font-weight: 600;
            left:0;
        }
        &.type {
            font-weight: 300;
            right:0;
        }
    }
}

@media screen and (width<=800px){
    .group{
        flex:1 1 89vw !important;
        max-width:89vw !important;
        height: 89vw !important;
        max-height: 89vw;
        
    }
    .career {
        flex-direction:row;
        height:134vw !important;
        flex:1 1 89vw !important;
        max-width:89vw !important;
        max-height: 134vw;
        h2, .cv, .linkedin, .linkedin span {
            font-size: 4.2vw;
        }
    }
    h1 {
        font-size:12vw;
        text-align: justify;
    }

    .items {
        height:44vw;
        border-radius: 4vw;
        &:hover {
            box-shadow: unset;
            transform: none;
            .content span.name, .content span.type {
                visibility:visible;
                opacity:0;
            }
        }
    }
    .content span.name, .content span.type {
        visibility: visible;
        opacity:0;
    }
    .square {
        width:44vw;
        max-width:44vw;
        flex: 1 1 44vw;
    }
    .long {
        max-width:89vw;
        flex: 1 1 89vw;
    }
    .size3x3{
        width:89vw;
        height:89vw;
        max-width: 89vw;
        max-height: 89vw;
    }
    
    .tall {
        width:44vw;
        max-width:44vw;
        max-height:89vw;
        flex: 1 1 89vw;
    }
    .navitems{
        display:none;
    }
}