
:root {
    --bg-color: var(--base);
    --button-color: var(--teal-light);
    --border-color: var(--stroke--black-10);
    --shadow-color: var(--stroke--black-50);
    --top-padding:12px;
    --top-size: 55px; 
    --small-links: var(--text3);
    --paragraph: var(--text2);
    --text1: #333;
    --text2: #444;
    --text3: #888;
    --font-h1:min(12.98vw, 220px);
    --small-radius:5px;
    --big-radius:min(2vw, 44px);
    --base: #fdfdfd;
    --stroke--black-5: rgba(0, 0, 0, .05);
    --stroke--black-10: rgba(0, 0, 0, .1);
    --stroke--black-50: rgba(0, 0, 0, .5);
    --stroke--black-80: rgba(0, 0, 0, .8);
    --stroke--white-5: rgba(255, 255, 255, .05);
    --stroke--white-10: rgba(255, 255, 255, .1);
    --stroke--white-30: rgba(255, 255, 255, .3);
    --stroke--white-50: rgba(255, 255, 255, .5);
    --stroke-teal-50: rgba(119, 238, 202, .5);
    --teal-light: rgba(218, 218, 218, 0.79);
    --light-teal: #008680;
    --gap: min(2%, 20px);
    --gap-min: min(-3vw,-20px);
    --sidebar:0px;
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    color: var(--text1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 14px;
    display:block;
    margin:0 auto;
    box-sizing:border-box;
}
a {
    text-decoration: unset;
    color:#444;
}
.topbar {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    padding: var(--top-padding);
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 2;
    margin: 0 auto;
}
.filterbar {
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-end;
    align-items: center;
    gap: 8px;
    position:sticky;
    top:1vw;
    z-index: 1;
    li {
        padding: 8px;
        color: var(--text3);
    }
    i {
        color: var(--text3);
        padding: 0.5vw;
        border-radius: var(--small-radius);
        margin-left: 0;
        &:hover{
            background-color: var(--teal-light);
        }
    }
}
.profpic {
    background-color: var(--bg-color);
    border-radius: 20px;
    overflow: hidden;
    border: solid 1px var(--border-color);
    padding: 8px 16px;
    padding:3px 12px 4px 3px;
    color: var(--text2);
    display: flex;
    flex-flow: row;
    align-items: center;
    gap:4px;
    z-index: 4;
    /*box-shadow: 0 5px 10px -5px var(--shadow-color);*/
    img {
        aspect-ratio: 1;
        height:24px;
        border-radius: 20px;
    }
}
.email {
    cursor: pointer;
    border: 1px solid var(--border-color);
    background-color: var(--button-color);
    color: var(--text2);
    border-radius: 20px;
    padding: 8px 16px;
    display: flex;
    flex: 0 auto;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .4);
    backdrop-filter: blur(5px);
    width:80px;
    transition: .2s;
    overflow: hidden;
    .onhover {
        transition: .2s;
        visibility:hidden;
        opacity:0;
    }
    .nohover {
        transition: .2s;
        visibility:visible;
        opacity:1;
    }
    &:hover{    
        background-color: #008680;
        color:white;
        width:170px;
        .onhover {
            visibility:visible;
            opacity:1;
        }
        .nohover {
            visibility:hidden;
            opacity:0;
            display: none;
        }
    }
}  
h1,h2,.giant {
    text-align: left;
    font-weight: 500;
    line-height: 105%;
    letter-spacing: -0.04em;
    margin:0;
}
.giant{
    font-size:140%;
    text-align: justify;
    line-height: 20%;
    &.giant2 {
        font-size: 170%;
    }
    &.giant3 {
        font-size:200%;
    }
    &.giant4 {
        font-size:234%;
        line-height:5%;
    }
}
h1 {
    font-size: var(--font-h1);
    text-align: justify !important;    
    width: 100%;

}
.container {
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    gap:0;
}
.collection {
    column-gap: var(--gap);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    display: flex;
    padding: var(--top-size) 0 var(--top-size) 0;
    /*margin-right: var(--gap-min);*/
}
.collection_wrapper {
    margin:0 auto 0 auto;
    width:88%;
    max-width:1500px;
    padding:0;
}
.sidebar {
    display: none;
    color: var(--text2);
    padding:  0 0 1vw var(--top-padding);
    width:var(--sidebar);
    height: 10px;
    position: fixed;
    top: 60px;
    left: 0%;
    right: 0%;
    z-index: 2;
    /*
    border-right: solid 1px var(--teal-light);
    background-color: #eee ;
    /*box-shadow: var(--shadow-color) 0px 22px 70px -5px;
    /* transform: rotate(90deg) translate(1vw,2vw);
    height: 100vh; */
    ul {
        list-style-type: none;
        margin:0;
        padding:0;
        background-color: #fff;
    }
    li {
        padding: 0.5vw;
        border-radius: var(--small-radius);
        cursor: pointer;
        &:hover{
            background-color: var(--teal-light);
            color:var(--text1);
        }
        i {
            margin-right: 0.5vw;
            width:18px;
            height:18px;
        }
    }
}
.group {
    overflow: visible;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0% -1% 1% 0;
    display: flex;
    flex: 1 1 49%;
    width: 49%;
    max-width:49%;
    aspect-ratio: 1;
    z-index: 0;
    gap: var(--gap);
    &.vertical {
        flex-direction: column;
    }
    &.horizontal {
        flex-direction: row;
    }
    &:hover {
        z-index: 1;
    }
}
.group:has(:is(.free)) {
    z-index: 0 !important;
    .items.free {
        z-index: -1;
        &:hover {
            transform: none;
        }
    }
}
.items {
    overflow:visible;
    box-sizing: border-box;
    display: flex;
    border-radius: var(--big-radius);
    align-content: center;
    z-index: 0;
    box-shadow: 0 0 0 1px var(--stroke--black-10);
    &.square {
        max-width: 49%;
        width: 49%;
        flex: 1 1 49%;
        aspect-ratio: 1;
    }
    &.big {
        max-width:100%;
        aspect-ratio: 1;
        flex: 1 1 100%;
    }
    &.long {
        max-width:100%;
        max-height:49%;
        flex: 1 1 100%;
        aspect-ratio: 2;
    }
    &.tall {
        max-width: 49%;
        /*max-width:48%;*/
        aspect-ratio: 2;
        flex: 1 1 100%;
    }
    &:hover {
        z-index: 3;
        & .content {
            box-shadow: var(--shadow-color) 0px 22px 100px -5px;
            transform: scale(1.11);
            span {
                visibility:visible;
                opacity:1;
                transform: scale(0.9);
            }
            video,iframe {
                visibility:visible;
                opacity:1;
                transform: scale(1.07);
            }
            img{
                max-width: 75%;
                max-height: 75%;
            }
        }
    }
}
.items.free {
    box-shadow: 0 0 0 0px;
    justify-content: center;
    & .content {        
        transform: none !important;
        min-width:30vw;
        background-position-y: -10%;
        background-size: contain;
        overflow: visible;
        box-shadow: 0 0 0 0px;
        span {
            visibility: hidden !important;
        }
    }
}
.content {
    width: 100%;
    display: block;
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 2vw;
    border-radius: var(--big-radius);
    flex-wrap: wrap;
    transition: .4s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    p {
        margin:0;
    }
    img {
        transition: .4s;
        max-height:60%;
        max-width:60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
    video, iframe {
        width: 100%;
        height:100%;
        position: absolute;
        top: 0;
        left: 0;
        visibility:hidden;
        opacity: 0;
        transition: .5s;
    }
    span {
        z-index: 1;
        visibility:hidden;
        opacity:0;
        transition: .3s;
        top:1%;
        position: absolute;
        padding: 1.1vw;
        line-height: 90%;
        &.name {
            font-weight: 600;
            left:0;
            max-width: 50%;
            font-size: 150%;
        }
        &.type {
            font-weight: 300;
            left:0;
            bottom:1%;
            top:unset;
            max-width: 50%;
        }
        &.url {
            top:1%;
            right:-0.5%;
        }
        a {
            padding:0.5vw 1.1vw;
            background-color: var(--stroke--white-30);
            border-radius: 1.5vw;
            opacity: 50%;
            transition: .4s;
            &:hover {
                opacity: 100%;
            }
        }
    }
}

@media screen and (width<=800px){
    .group{
        flex:1 1 100%;
        max-width:100%;
        width: 100%;
        margin-bottom: 2%;
    }
    h1 {
        font-size:22vw;
        line-height: 88%;
        margin-top:44px;
    }
    .items {
        border-radius: 4vw;
        .content{
            border-radius: 4vw;
        }
        &.free {
            & .content {
                min-width: 80vw;
            }
        }
        &:hover .content {
            box-shadow: unset;
            transform: none;
            span.name {
                visibility:visible;
                transform: none;
                opacity:1;
            }
            span.type, span.url {
                visibility:hidden;
                opacity:0;
            }

        }
    }

    .content span.name{
        visibility: visible;
        opacity:1;
        max-width: 30vw;
        padding:4vw 3vw;
        font-size:18px;
        text-shadow:#333;
    }
    .navitems{
        display:none;
    }
}